/* Entfernen von Standard-Rand und Abständen */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;  /* Nimmt die gesamte Höhe ein */
    width: 100%;   /* Nimmt die gesamte Breite ein */
}

.startpage-container {
    font-family: 'Arial', sans-serif;
    background-color: #1e1e2e;
    color: #e6e619;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  /* Titel oben rechts */
  .title {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1em;
    font-weight: bold;
    color: #64a2d8;
  }
  
  .container {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .logged-in {
    margin-bottom: 20px;
    font-size: 1em;
    color: #81a1c1;
    position: absolute;
    top: 10px;
    left: 10px;
  }
  
  .group-box {
    background-color: #2e3440;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 150px;
    position: absolute;
    top: 50px;
    right: 10px;
  }
  
  .group-header {
    font-size: 1.4em;
    margin-bottom: 15px;
    color: #88c0d0;
    border-bottom: 2px solid #88c0d0;
    padding-bottom: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #4c566a;
  }
  
  td {
    color: #c0e6f1;
  }
  
  tr:hover {
    background-color: #3b4252;
  }
  
  /* Für Smartphones */
  @media (max-width: 250px) {
    body {
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: auto;
      padding: 10px;
    }
  
    .group-box {
      width: 90%;
      position: absolute;
      top: 60px;
      right: 0;
      transform: none;
      padding: 10px;
      font-size: 0.8em;
    }
  
    .logged-in {
      font-size: 0.5em;
      left: 10px;
      position: absolute;
      top: 10px;
    }
  
    .title {
      font-size: 0.5em;
      right: 10px;
      position: absolute;
      top: 10px;
    }
  
    .group-header {
      font-size: 1em;
      margin-bottom: 10px;
      color: #88c0d0;
      border-bottom: 2px solid #88c0d0;
      padding-bottom: 5px;
    }
  
    th, td {
      padding: 5px;
      text-align: left;
      border-bottom: 1px solid #ff0000;
      font-size: 0.9em;
    }
  
    tr:hover {
      background-color: #0e0e0e;
    }
  }
  
