<!-- startpage-admin.component.html -->
<body>
    <div class="startpage-container">
        <!-- Titel oben rechts -->
        <div class="title">Gruppenübersicht</div>
      
        <!-- Anzeige des Anmeldestatus -->
        <div class="logged-in">angemeldet als: Josia</div>
      
        <!-- Gruppe Box -->
        <div class="group-box">
          <div class="group-header">Gruppe Tews</div>
          <table>
            <tr>
              <td>Daniel</td>
              <td>Mitglied</td>
            </tr>
            <tr>
              <td>Josia</td>
              <td>Admin</td>
            </tr>
            <tr>
              <td>Emil</td>
              <td>Mitglied</td>
            </tr>
          </table>
        </div>
      </div>    
</body>

  
  

